.poster {
    margin: auto;
    height: 600px;
    width: 500px;
}

.prozor {
    width: 800px;
}

#naslov {

    text-align: center;
    
    font: {
        weight: bold;
        size: 20px;
    }
    &.header {
        width: fit-content;
        margin: auto;
    }
    &.istaknuto {
        width: fit-content;
        margin: auto;
    }
    button {
        float:left; 
        margin-right: 30px;
    }
}