
<header><h2>Prijava</h2></header>
<main>
    <div class="grid-prijava">
        <div>
            <label for="korime">Korisničko ime</label>
        </div>
        <div>
            <input class="form-control" required type="text" [(ngModel)]="korime">
        </div>
        <div>
            <label for="lozinka">Lozinka</label>
        </div>
        <div>
            <input class="form-control" required type="password" [(ngModel)]="lozinka">
        </div>
        <div>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="prijavi()">Šalji</button>
        </div>
    </div>
    <div class="grid-podaci">
        <div>
            <p>Uloga: </p>
        </div>
        <div>
            <p>Korisničko ime: </p>
        </div>
        <div>
            <p>Lozinka: </p>
        </div>
        <div>
            <p>Korisnik </p>
        </div>
        <div>
            <p>obican </p>
        </div>
        <div>
            <p>rwa </p>
        </div>
        <div>
            <p>Administrator </p>
        </div>
        <div>
            <p>admin </p>
        </div>
        <div>
            <p>rwa </p>
        </div>
    </div>

</main>

